---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import Modal from '../components/Modal.astro';
---

<Layout title="Para mi crush">
  <main class="flex flex-col justify-start items-center h-screen">
    <div class="p-4">
      <Card />
    </div>
    <div class="mt-4 flex justify-center">
      <Button
        id="btnSi"
        class="btn-primary mr-6 z-10 sticky justify-self-start"
      >
        <span class="px-6">Si</span>
      </Button>
      <Button id="btnNo" class="btn-secondary z-10">
        <span class="px-6">No</span>
      </Button>
    </div>
  </main>
  <Modal />
</Layout>

<script>
  const btnNo = document.getElementById('btnNo')!;
  const btnSi = document.getElementById('btnSi')!;
  const my_modal_2 = document.getElementById('my_modal_2')! as HTMLFormElement;

  function getRandomPosition(max: number, offset: number) {
    return Math.floor(Math.random() * (max - offset));
  }

  function moveBtnNo() {
    const randomX = getRandomPosition(window.innerWidth, btnNo.offsetWidth);
    const randomY = getRandomPosition(window.innerHeight, btnNo.offsetHeight);
    btnNo.style.position = 'absolute';
    btnNo.style.left = randomX + 'px';
    btnNo.style.top = randomY + 'px';
  }

  btnNo.addEventListener('mouseenter', moveBtnNo);

  btnSi.addEventListener('click', () => {
    my_modal_2.showModal();
  });
</script>
