<div class="card max-w-[400px] bg-base-100/80 shadow-xl image-full z-0">
  <figure>
    <img src="/love.webp" alt="love" />
  </figure>
  <div class="card-body flex flex-col items-start">
    <h3 class="card-title mb-4">Querid@ Crush:</h3>
    <p class="text-3xl text-balance text-center font-bold mt-4 lg:mt-6">
      ¿Quieres ser mi novi@?
    </p>
  </div>
</div>
